@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
  font-family: Helvetica, sans-serif;
}

.header {
  text-align: center;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
}

.cardImage {
  height: 350px;
  margin: 5px;
  border: 5px solid black;
  border-radius: 6px;
  box-shadow: 2px gray;
}

.cardImage:hover {
  scale
}