@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: Anton, sans-serif;
  background-color: #1E428A;
  margin: 0;
}

.header {
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #C80F2D;
  border-bottom: 8px solid #EEEEEE;
}

.scoreboardContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.scoreboard {
  font-family: Anton, sans-serif;
  text-align: center;
  color: #C80F2D;
  padding: 20px;
  border: 3px solid #FFFFFF;
}

.score {
  padding: 10px;
}

.currentScore {
  background-color: #C80F2D;
  color: #FFFFFF;
}

.bestScore {
  background-color: #1E428A;
  color: #FFFFFF;
}

.result {
  text-align: center;
}

.resultText {
  color: white;
}

.tryAgainButton {
  border: 0;
  margin-left: 10px;
  padding: 10px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  text-align: center;
  margin: 10px;
  width: 80%;
}

.cardImage {
  height: 250px;
  margin: 8px;
  border: 3px solid #EEEEEE;
  border-radius: 6px;
  box-shadow: 5px 10px 5px rgb(15, 15, 15);
}

.cardImage:hover {
  transform: scale(1.05);
}

.cardImage:active {
  transform: translate(0%, 3%);
}